.sidenav-container {
  display: block;
  height: 100%;
  width: 100%;

  .sidenav-content {
    padding: 20px;

    .header {
      margin-bottom: 20px;

      .page-title {
        font-family: 'Leckerli One', cursive;
        font-size: 42px;
        color: var(--primary-color);
      }
    }
  }

  .sidenav {
    background-color: var(--primary-color);
    padding: 20px;

    .header {
      font-family: 'Leckerli One', cursive;
      font-size: 42px;
      color: white;
      text-align: center;
    }

    .menu-list  {
      margin-top: 16px;

      mat-list-item {
        margin-bottom: 12px;

        a {
          text-decoration: none;
        }
      }

      mat-list-item:last-child {
        margin-bottom: 0;
      }
    }
  }
}
