<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h1 class="header">ChefKokkie 🧑‍🍳</h1>
    <mat-divider></mat-divider>
    <mat-nav-list class="menu-list">
      @for (item of menuItems; track $index) {
        <mat-list-item (click)="navigateTo(item.route)" routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <a matListItemTitle routerLink="{{ item.route }}">{{ item.label }}</a>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    Main content
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
